spring:
  application:
    name: authentication-service

  datasource:
    url: jdbc:postgresql://${AUTH_POSTGRES_SVC}:5432/${AUTH_POSTGRES_DB}
    username: ${AUTH_POSTGRES_USER}
    password: ${AUTH_POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
  address: 0.0.0.0

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION_MS}
