apiVersion: v1
kind: Secret
metadata:
  name: secrets
  namespace: default
type: Opaque
stringData:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  JWT_SECRET: verylongsecretkeyusedonlyforlocaldevelopment
